@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
@font-face {
    font-family: 'Raleway ExtraLight';
    src: url('fonts/Raleway-Extra-Light.ttf');
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('fonts/Raleway-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&subset=cyrillic');
body {
    font-family: 'Raleway ExtraLight','Roboto',  sans-serif;
    font-size: 18px;
    margin: 0;
    font-weight: 300;
}

img {
    display: block;
}

.container {
    min-width: 1024px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 0;
}

header .container {
    padding: 20px 0 50px 0;
}

header {
    background: url("pic/bg-main_bg1.jpg");
    background-repeat: no-repeat;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}

h1 {
    font-size: 48px;
    font-family: 'Raleway-Bold', sans-serif;
    margin: 10px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: 170px;
    background: url("pic/logo.png");
    background-repeat: no-repeat;
}

.navigation {
    display: flex;
    width: 540px;
    justify-content: space-between;
    height: 20px;
}

.navigation div {
    border-top: 2px solid transparent;
}

.navigation div:hover {
    border-top: 2px solid #ff6033;
}

.navigation a {
    text-decoration: none;
    color: #000000;
}

.company_name {
    width: 350px;
}

.description {
    margin: 10px 0;
    line-height: 25px;
}

.mouse {
    align-self: center;
}

/*---------*/
.about, .smoothies_freshes, .frozen_yoghurts, .contacts, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.smoothies_freshes, .frozen_yoghurts, .contacts {
    flex-direction: column;
    align-items: center;
}

/*----------*/
/*.about*/
/*----------*/
.cyan_color_block {
    background-color: #00baba;
    color: #ffffff;
}

.block_info {
    display: flex;
    flex-direction: column;
    /*padding-top: 50px;*/
}

.about .block_info {
    padding-left: 20px;
}

.about .description {
    width: 370px;
}

/*----------*/
/*smoothies_freshes*/
/*----------*/
.yellow_color_block {
    background-color: #ffe92f;
    padding-bottom: 30px;
}

.smoothies_freshes .description {
    width: 670px;
}

.yellow_color_block .block_info, .purple_color_block .block_info, .white_color_block .block_info {
    text-align: center;
}

.gallery {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
}

.gallery_column_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31%;
    /*flex-grow: 1;*/
}

.gallery_column_1 img, .gallery_column_2 img {
    width: 100%;
}

.gallery_column_2 {
    /*flex-grow: 2;*/
    width: 67%;
}

/*----------*/
/*frozen_yoghurts*/
/*----------*/
.purple_color_block {
    background-color: #b07cf7;
    color: #ffffff;
    padding-bottom: 30px;
}

.frozen_yoghurts .gallery_column_2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.frozen_yoghurts .gallery_column_2 > img:nth-child(1),
.frozen_yoghurts .gallery_column_2 > img:nth-child(2){
    /*padding: 10px;*/
    /*flex: 1 100%;*/
    width: 49%;
    height: 200px;
}
.frozen_yoghurts .gallery_column_2 > img:nth-child(3),
.frozen_yoghurts .gallery_column_2 > img:nth-child(4){
    height: 257px;
    width: 49%;

}

.frozen_yoghurts .gallery_column_2:last-child {
    /*width:150px;*/
}

/*----------*/
/*contacts*/
/*----------*/
.white_color_block {
    background: url("pic/blueberry.png");
    background-repeat: no-repeat;
    background-position-x: 550px;
    background-position-y: 335px;
    min-height: 670px;
}

.contacts_block_main_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contacts_block_main_content {
    padding: 10px 0;
}

.contacts .description {
    width: 485px;
}

.contact_info {
    padding: 30px 45px;
}

.form .question {
    font-size: 32px;
    font-family: 'Raleway-Bold', sans-serif;
}

.contact_title {
    text-transform: uppercase;
    font-weight: 600;
}

.answer {
    font-weight: 600;
    padding-bottom: 10px;
}

.contact_description {
    padding-bottom: 7px;
}

.form {
    display: flex;
    flex-direction: column;
}

/*.form input[type=text], .form textarea {*/
/*border: 1px solid #a9a9a9;*/
/*}*/

.form input, .form textarea {
    font-family: 'Raleway ExtraLight', sans-serif;
}

.form input[type=text], .form textarea {
    margin: 0 0 10px;
    padding: 10px;
    width: 100%;
    resize: none;
}

.form input[type=text]:focus, .form textarea:focus {
    outline: none;
    border: 2px solid #96b92c;
    padding: 10px;
}

.form textarea:focus {
    padding: 9px;
}

.form textarea {
    resize: none;
}

.form input[type="submit"] {
    padding: 7px;
    width: 140px;
    background-color: #96b92c;
    border: 1px solid #96b92c;
    color: #ffffff;
    text-transform: uppercase;
}

.form input[type="submit"]:hover, .form input[type="submit"]:focus {
    outline: none;
    border: 1px solid #96b92c;
    box-shadow: 0 0 1px 1px rgba(122, 122, 122, 0.5);
    cursor: pointer;
}

/*----------*/
/*footer*/
/*----------*/
footer {
    background-color: #262626;
    color: #ffffff;
}

footer .logo {
    background-position-y: -40px;
}